POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=testdb
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:password@localhost:5432/testdb?sslmode=disable
GOOSE_MIGRATION_DIR=migrations

HTTP_PORT=8080
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=60s
SHUTDOWN_TIMEOUT=10s

QUOTE_PROVIDER_BASE_URL=https://api.frankfurter.dev/v2
QUOTE_PROVIDER_TIMEOUT=5s

WORKER_COUNT=2
WORKER_POLL_INTERVAL=500ms
WORKER_LEASE_DURATION=30s
WORKER_MAX_ATTEMPTS=5
WORKER_RETRY_BASE_DELAY=1s
WORKER_RETRY_MAX_DELAY=30s
